<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
<appSettings>
	<add key="DEV" value="DEV"/>
    <add key="SIT" value="SIT"/>
    <add key="UAT" value="UAT"/>
    <add key="PRD" value="PRD"/>
</appSettings>
</configuration>